body, html {
    height: 100%;
}

.bgrnd {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    height:500px;
    width:300px;
    background-color: rgba(56, 78, 156, 0.02);
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    backdrop-filter:blur(40px);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:20px 20px 22px rgba(0,0,0,0.2);
    border-radius:8px;
    font-family: 'Poppins',sans-serif;
    color:#fcfcfc
}

.card img{
    width:60px;
    margin-left:39%;
}
h4{
    letter-spacing:4px;
    font-weight:600;
    font-size:10px;
    text-align:center;
    margin:25px 0 10px 0;
}
h6{
    text-align:center;
    color:#b3b3b3;
    letter-spacing:5px;
    font-weight:300;
    margin-bottom:25px;
}

h1{
    letter-spacing:2px;
    text-align:center;
    font-size:50px;
    font-weight:300;
}

.container{
    width:70%;
    margin-left:15%;
    display:grid;
    grid-template-columns:auto auto;
    margin-top:30px;
}
.container2{
    width:100%;
    margin-left:0%;
    display:grid;
    grid-template-columns:auto auto auto auto;
    margin-top:30px;
}
.details{
    text-align:center;
    font-size:13px;
    letter-spacing:1px;
    font-weight:600;
}
.details2{
    text-align:center;
    font-size:13px;
    letter-spacing:1px;
    font-weight:600;
}
.something{
    text-align:center;
    font-size:13px;
    letter-spacing:1px;
    font-weight:600;
}
.details span{
    color:#b3b3b3;
}
.details:first-child{
    border-right:2px solid #fcfcfc;
}

.details2{
    border-right: 2px solid #fcfcfc;
}

#cityOnCard {
    text-transform: capitalize;
}

/* AUTOCOMPLETE STYLE */

* {
    box-sizing: border-box;
  }

  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  /* input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  } */
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }